* {
  transition: background-color 0.1s ease-in-out;
}

.list-item-button-light {
  background-color: rgb(218, 240, 255);
  box-sizing: border-box;
}

.list-item-button-light:hover {
  background-color: rgb(163, 211, 243);
}

.list-item-button-dark {
  background-color: rgb(39, 48, 54);
}

.list-item-button-dark:hover {
  background-color: rgb(20, 26, 32);
}

.dropdown-menu {
  white-space: nowrap;
}
