extends layout

block content
  div(class="d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 380px")
    h3(class="my-5 text-center") Logged Out
    p(class="text-center") You have been logged out successfully.

    a(class="text-center mt-3" href='/') Go back home
    span .

