extends layout

block content
  div(class="d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 900px")
    h3(class="text-center") Create a post

    form(method="POST" action ="")

      div(class="mt-3 form-group")
        label(for="title") Title of Post: 
        input#title.form-control(type="text" placeholder="Post Title Here" name="title" required='true' value=(undefined===post ? "" : post.title))
        p &nbsp;
          if errors 
            for error in errors 
              if error.path==="title"
                span(class='text-danger') #{error.msg}

      div(class="mt-3 form-group")
        label(for='text') Text:
        textarea#text.form-control(type='textarea', placeholder="Maximum of 300 characters" name='text') #{undefined===post ? "" : post.text}
        p &nbsp;
          if errors 
            for error in errors 
              if error.path==="text"
                span(class='text-danger') #{error.msg}

      div(class="d-flex justify-content-center mt-2")
        button(class="col btn btn-primary mr-3" type='submit' style="max-width: 250px") Submit
        a(class="col btn btn-outline-secondary ml-3" href=backURL type='button' style="max-width:250px") Cancel

      

