extends layout

block content
  p Welcome to #{mainTitle}

  form(method="POST" action ="")

    div.form-group
      label(for="first_name") First Name: 
      input#first_name.form-control(type="text" placeholder="Jack" name="first_name" required='true')

    div.form-group
      label(for="last_name") Last Name: 
      input#last_name.form-control(type="text" placeholder="Sparrow" name="last_name" required='true')

    div.form-group
      label(for="username") Username: 
      input#username.form-control(type="text" placeholder="Username Here" name="username" required='true')

    div.form-group
      label(for="password") Password: 
      input#password.form-control(type="password" name="password" required='true')

    button(class="btn btn-primary mr-3" type='submit') Submit
    a(class="btn btn-outline-dark" href="/" role="button") Cancel

      

  p Already have an account? Log in
    a(href='/login') here
    span .

