extends layout

block content
  div(class="mt-4 d-flex flex-column align-items-center justify-content-center container")
    h5(class="text-center m-4") User could not be found.
    a(class="btn btn-primary mt-3 px-4" href=backURL) Back